.signcontainer {
  background-color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  padding-bottom: 20px;
  justify-content: center;
  align-items: center;
  border: 1px solid #dde2e4;
  box-shadow: 10px 50px 50px rgba(0, 0, 0, 0.06);
  border-radius: 8px;
}

.signwrapper {
  width: calc(100% - 10rem);
  margin: 3rem 0;
}

.signheader h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: -0.011em;
  color: #1d1d18;
  padding: 2rem 0;
}

.signfield {
  width: 100%;
}

.signfielda {
  border: 2px solid #dde2e4;
  height: 3rem;
  border-radius: 5px;
  display: flex;
  flex-direction: row-reverse;
  position: relative;
  padding-left: 0.4rem;
  align-items: center;
}

.signnamefield input {
  border: none;
  width: 12rem;
  padding-left: 1rem;
  justify-content: center;
}

::-webkit-input-placeholder {
  color: black;
  //   text-align: center;
}

.signnamefield input:focus {
  outline: none;
}

.signfielda {
  justify-content: flex-end;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.signfielda input {
  border: none;
  margin-top: 0.2rem;
  padding-left: 1rem;
}

.signfielda input:focus {
  outline: none;
}

.signicons {
  margin-top: 0.3rem;
  font-size: 1.5rem;
  align-items: center;
  align-self: center;
}

.signline {
  display: flex;
  align-items: baseline;
  justify-content: center;
  gap: 2rem;
}

.signlinewid {
  width: 20rem;
  height: 1px;
}

.signterms {
  margin-top: 3rem;
}

.signterms p {
  color: #84919a;
  font-weight: 600;
  line-height: 2rem;
  font-size: 1rem;
  text-align: left;
}

.signchangetxt {
  color: #ff8600;
  cursor: pointer;
}

.signpointer {
  font-size: 1.2rem;
}

.signfooter {
  display: flex;
  gap: 1rem;
  margin-top: 2rem;
}

a {
  color: #ff8600;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

a:hover {
  font-weight: 700;
}

// ghghfhgfhghg
