
.content{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: white;
    width: 100%;
}

.wrapperd{
    width: calc(100% - 10rem);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.content h3{
    color: #1D1D18;
    font-weight: 700;
    font-size: 3rem;
    margin: 4rem 0;

}

.content p{
    color: #5B6871;
    letter-spacing: -0.0045em;
    font-size: 2rem;
    font-weight: 500;
    line-height: 3rem;
    margin-top: -2rem;
}

.changetxt{
    color: #FF8600;
}

.getotp {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1rem;
    margin-top: 2rem;
    overflow-wrap: normal;
}

.getotp input{
    width: 7rem;
    height: 7rem;
    border-radius: 10px;
    border: 1px solid #5B6871;
    text-align: center;
    font-weight: 700;
}

.getotp input:focus{
    border: 1px solid #FF8600;
    outline: 2px solid #FF8600;;

}

.entered{
    margin-top: 3rem;
}

.entered p{
    font-size:  2rem;
}

.btn{
    margin-top: 1rem;
    width: 20rem;
    height: 5rem;
    padding: .5rem 0;
    border: none;
    background-color: #FF8600;
    color: #ECEDED;
    border-radius: 5px;
    cursor: pointer;
    transition: all .3s ease-in-out;
    padding-bottom: 1rem;
    font-size: 2rem;
    text-align: center;
    font-weight: normal;
    }

.btn:hover, .btn:focus{
    transform: skewX(2);
    background-color: #3a2103;
    border: none;
}

.footer{
    display: flex;
    gap: 3rem;
    margin-top: 4rem;
    margin-bottom: 2rem;
    font-size: 2.5rem;
}

a{
    color: #FF8600;
    text-decoration: none;
}

.right{
    margin-top: -1.8rem;
}

@media (max-width: 32rem) {
    .left{
        display: none;
    }

     .getotp input{
         width: 3.5rem;
         height: 3.5em;
        border-radius: 10px;
        font-weight: 700;
    }
    .content p{
        overflow-wrap: break-word;
    }

    .btn{
       
        align-content: center;
        width: 10rem;
        font-size: 1.2rem;
        height: 3rem;
        
        }
    
}


@media (min-width: 62rem) {
 
     .getotp input{
        width: 4rem;
        height: 4rem;
    }
    
}

@media (min-width: 62rem) {
 
     .getotp input{
        width: 4rem;
        height: 4rem;
    }
    
}



