
.content{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: white;
}

.content h2{
    color: #1D1D18;
    font-weight: 700;
    font-size: 2rem;
    margin-top: 2rem;
    margin-left: -15rem;

}

.content p{
    color: #5B6871;
    letter-spacing: -0.0045em;
    font-weight: 500;
    line-height: 1.5rem;
    margin-top: -2rem;
    margin-left: 2.5rem;
}

.changetxt{
    color: #FF8600;
}

.getotp {
    display: flex;
    flex-wrap: nowrap;
    gap: 1.5rem;
    margin-left: 2.5rem;
    margin-top: 2rem;
}

.getotp input{
    width: 3rem;
    height: 3rem;
    border-radius: 10px;
    border: 1px solid #5B6871;
    text-align: center;
    font-weight: 700;
}

.getotp input:focus{
    border: 1px solid #FF8600;
    outline: 2px solid #FF8600;;

}

.entered{
    margin-top: 3rem;
}

.entered p{
    font-size: 1.3rem;
}

.btn{
    margin-top: 1rem;
    width: 10rem;
    height: 2rem;
    padding: .5rem 0;
    margin-left: 2.5rem;
    border: none;
    background-color: #FF8600;
    color: #ECEDED;
    border-radius: 2pc;
    cursor: pointer;
    transition: all .3s ease-in-out;
    padding-bottom: 2rem;
    }

.btn:hover, .btn:focus{
    transform: skewX(2);
    background-color: #3a2103;
    border: none;
}

.footer{
    display: flex;
    gap: 1rem;
    margin-top: 4rem;
    margin-bottom: 2rem;
}

a{
    color: #FF8600;
    text-decoration: none;
}

.right{
    margin-top: -1.8rem;
}

