.wrapper {
  /* max-width: 29rem; */
  background-color: #f6f6f6;
  /* margin-top: 10rem; */
  display: flex;
  flex-direction: column;
  /* position: absolute; */
  right: 0;
}

.secone {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 0.5pc;
  width: calc(100% -10rem);
  margin: 0.5rem 1rem;
}

.watchtab {
  margin-bottom: -1.2rem;
  width: 100%;
}
.header {
  display: flex;
  justify-content: space-between;
  margin: 1rem 1rem;
}

.header div h3 {
  color: #3b3b45;
  font-family: "Lexend";
  font-style: normal;
  font-weight: 700;
  font-size: 1.5rem;
}

.viewtxt {
  font-weight: 700;
  font-size: 1.5rem !important;
}

/* watchlist style */

.watchwrapper {
  display: flex;
  flex-direction: row;
  position: relative;
  margin: 1rem 1rem;
  background-color: #f6f6f6;
  border-radius: 0.5pc;
}

.watchheader {
  padding: 2rem 1rem;
}

.arrow {
  padding-left: 2rem;
}

.watchheader h4,
p {
  margin: 0.2rem 0;
  letter-spacing: 1px;
  font-weight: 800;
}

.price {
  color: #a3a3a6;
  font-weight: 700;
}

.percent {
  color: #00a441;
  font-style: normal;
  font-weight: 700;
}

.chart {
  flex-grow: 2;
  justify-content: space-around;
  height: 50%;
  width: 100%;
  position: absolute;
  left: 2.5rem;
  top: 2.5rem;
}

/* Rev style */

.revwrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 1rem 1rem;
  background-color: white;
  border-radius: 0.5pc;
}

.revwrapper h2 {
  text-align: left !important;
  padding: 2rem 1rem;
  font-size: 1.5rem;
  font-weight: 800;
  color: #3b3b45;
}

.revcont {
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding: 0 1.5rem;
  margin: 1rem 1rem;
  border: 1px solid #f1f1f2;
  border-radius: 0.5pc;
}

.price {
  color: #3b3b45;
  font-style: normal;
  font-weight: 800;
  font-size: 1.5rem;
}

.description {
  color: #a3a3a6;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
}

.revlogo {
  padding-top: 1rem;
}

.revlogo img {
  cursor: pointer;
}

.newscont {
  display: flex;
  gap: 1rem;
  margin: 1rem 1rem;
  border: 1px solid #f1f1f2;
  border-radius: 0.5pc;
  padding: 1.5rem 1rem;
}

.newsdesc h6 {
  font-size: 10px;
}
