.sidenav_container {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  // padding: 0 2.4rem;

  @media (max-width: 68em) {
    // padding: 0 1rem;
    position: fixed;
    height: 100%;
    display: none;
    background-color: #fff;
  }
}

.buddylogo {
  justify-items: center;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-top: 2rem;
  // padding-bottom: 30rem;
  img {
    @media (max-width: 68em) {
      width: 5rem;
      // background-color: #ff8600;
    }
  }
}

.topnav {
}

.navlinks {
  @media (max-width: 68em) {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
  }
}

.nav1 {
  width: calc(100% - 5rem);
  display: flex;
  justify-content: center;
  margin: 0 1.5rem;
}

.nav {
  font-size: 1.5rem;
  // padding-bottom: 40px;
}

.active {
  li {
    background: #ffffff;
    box-shadow: 0px 4px 58px rgba(0, 0, 0, 0.07);
    border-radius: 16px;
  }

  li::before {
    content: "";
    height: 3rem;
    width: 7px;
    left: 0;
    background-color: #ff8600;
    position: absolute;
    color: #14142b;
    border-radius: 0px 4px 4px 0px;
  }
}

.nav li {
  margin-bottom: 2rem;
  padding: 1.8rem 3.3rem;
  list-style-type: none;
  display: flex;
  // justify-content: center;
  column-gap: 0.9rem;
  align-items: center;

  p {
    color: #818187;
    @media (max-width: 68em) {
      display: none;
    }
  }

  a {
    @media (max-width: 68em) {
      display: none;
    }
  }
}

.navsidefooter {
  background-color: white;
  display: flex;
  margin: 2.4rem;
  position: relative;
  justify-content: center;
  padding: 1.6rem;
  box-shadow: 0px 11px 56px rgba(0, 0, 0, 0.07);
  margin-bottom: 3.2rem;
  border-radius: 16px;

  @media (max-width: 68em) {
    // box-shadow: none;
    // margin: 0;
    // position: absolute;
  }
}

.navwrapper {
  display: grid;
  justify-content: center;
  @media (max-width: 68em) {
    box-shadow: none;
    margin: 0;
    position: absolute;
    img {
      row-gap: 1rem;
      width: 70%;
    }
  }
}

.navwrapper > h3 {
  color: black;
  font-size: smaller;
  text-align: center;
  @media (max-width: 68em) {
    display: none;
  }
}

.navwrapper > p {
  text-align: center;
  color: grey;
  padding-bottom: 1.2rem;
  @media (max-width: 68em) {
    display: none;
  }
}

.navbtn {
  background-color: rgba(255, 134, 0, 0.16);
  border: none;
  // margin: 0;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 3rem;
  column-gap: 0.7rem;

  @media (max-width: 68em) {
    padding: 1rem;
  }
  p {
    color: #ff8600;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 2.4rem;

    @media (max-width: 68em) {
      display: none;
    }
  }
}

.navimage {
  margin-top: -3rem;
}
