.container {
  // width: 20rem;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 2.4rem;
}

.buddylogo {
  justify-items: center;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-top: 2rem;
  // padding-bottom: 30rem;
}

.topnav {
}

.nav1 {
  width: calc(100% - 5rem);
  display: flex;
  justify-content: center;
  margin: 0 1.5rem;
}

.nav {
  font-size: 1.5rem;
  padding-bottom: 40px;
}

.nav li {
  padding-bottom: 40px;
  list-style-type: none;
}

/* unvisited link */
.direct:link {
  color: orange;
}

/* visited link */
.direct:visited {
  color: grey;
}

/* mouse over link */
.direct:hover {
  color: orange;
}

/* selected link */
.direct:active {
  color: orange;
}

.navsidefooter {
  background-color: white;
  display: flex;
  position: relative;
  width: calc(100% - 3rem);
  justify-content: center;
  margin-left: 1.5rem;
  padding-bottom: 2rem;
}

.navwrapper > h1 {
  color: black;
  font-size: smaller;
}

.navwrapper > p {
  text-align: center;
  color: grey;
  padding-bottom: 12px;
}

.navbtn {
  background-color: rgba(255, 134, 0, 0.16);
  color: #ff8600;
  border: none;
  padding: 0.8rem 5.1rem;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 2.4rem;
  margin: 0;
  border-radius: 6px;
}

.navimage {
  margin-top: -3rem;
}
