.container {
  background-color: white;
  display: flex;
  flex-direction: column;
  margin: auto;
  padding-bottom: 20px;
  justify-content: center;
  align-items: center;
  border: 1px solid #dde2e4;
  box-shadow: 10px 50px 50px rgba(0, 0, 0, 0.06);
  border-radius: 8px;
  width: 489px;
  padding-top: 80px;
  padding-bottom: 73px;
  padding-right: 87px;
  padding-left: 84px;
}

text {
  text-align: center;
}

h1 {
  block-size: auto;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  letter-spacing: -0.011em;
  padding-bottom: 12px;
}

h2 {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 19px;
  height: 38px;
  text-align: center;
  letter-spacing: -0.0045em;
  padding-bottom: 50px;
}
.btn {
  height: 30px;
  background-color: #ff8600;
  color: white;
  border: none;
  width: 4rem;
  font-size: 8px;
  font-weight: 600;
  line-height: 24px;

  margin: 0;
  border-radius: 6px;

  // ;
  //   padding-bottom: 1rem
}
