
.wrapper{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 1.5rem 20px;
}

.header h3{
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: -0.011em;
    color: #1D1D18;
    padding: 2rem 0;
}

.header p{
    font-weight: 400;
    font-size: 13px;
    line-height: 19px;
    padding-bottom: 2rem;
}
field{
    width: 100%;
}

.fielda{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    flex-wrap: nowrap;
    position: relative;

   
}

/* .namefield{
    width: -20px;
} */

.namefield, .fieldb{
    border: 2px solid #DDE2E4;
    height: 3rem;
    border-radius: 5px;
    display: flex;
    flex-direction: row-reverse;
    position: relative;
    padding-left: .4rem;
}

.namefield input{
    border: none;
    width: 12rem;
    padding-left: 1rem;
}

.namefield input:focus{
    outline: none; 
}

.icona{
    margin-top: .4rem;
    font-size: 1.5rem;
}

.fieldb{
    justify-content: flex-end;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.fieldb input{
    border: none;
    margin-top: .2rem;
    padding-left: 1rem;
}

.fieldb input:focus{
    outline: none;
}

.icons{
    margin-top: .3rem;
    font-size: 1.5rem;
}

.btn{
    margin-top: 1rem;
    width: 100%;
    height: 2.5rem;
    padding: .4rem 0;
    border: none;
    border-color: #ECEDED;
    border-radius: 2pc;
    color: #C3C7CE;
    cursor: pointer;
    transition: all .3s ease-in-out;
    }

.btn:hover, .btn:focus{
    background-color: #FF8600;
    color: #ECEDED;
    transform: scaleX(60deg);
    border: none;
}

.terms{
    margin-top: 3rem;
}

.terms p{
    color: #84919A;
    font-weight: 400;
    line-height: 2rem;
    font-size: 1.2rem;
}

.changetxt{
    color: #FF8600;
    cursor: pointer;
}

.pointer{
    font-size: 1.2rem;
}




.footer{
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
}

a{
    color: #FF8600;
    text-decoration: none;
    transition: all .3s ease-in-out;
}

a:hover{
    font-weight: 700;
}









