
.wrapper{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 1px solid #dde2e4;
    box-shadow: 10px 50px 50px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    padding: 1.5rem 20px;
}

.header h3{
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: -0.011em;
    color: #1D1D18;
    padding: 2rem 0;
}

.header p{
    font-weight: 400;
    font-size: 13px;
    line-height: 19px;
    padding-bottom: 2rem;
}

/* .fielda{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    flex-wrap: nowrap;
    position: relative;
} */

.fielda{
   display: grid;
   grid-template-columns:  1fr 1fr;
   align-content: left;
   justify-content: right;
   gap: 2rem;

}

.namefield, .fieldb{
    border: 1px solid #DDE2E4;
    height: 3rem;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: center;
    flex-direction: row;
    position: relative;
}

.namefield input{
    border: transparent;
    max-width: 10rem;
    
}

.namefield input:focus{
    outline: transparent; 
    
}

.icona{
    margin-top: .4rem;
    font-size: 1.6rem;
    color: #84919A;
}

.fieldb{
    justify-content: flex-start;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.fieldb input{
    border: none;
    margin-top: .2rem;
    color: #84919A;
    height: 2rem;
}

.fieldb input:focus{
    outline: transparent;
}

.icons{
    margin-top: .3rem;
    font-size: 1.6rem;
    color: #84919A;
}

.btn{
    margin-top: 1rem;
    width: 100%;
    height: 2.5rem;
    padding: .4rem 0;
    border: none;
    border-color: #ECEDED;
    border-radius: 2pc;
    color: #C3C7CE;
    cursor: pointer;
    transition: all .3s ease-in-out;
    }

.btn:hover, .btn:focus{
    background-color: #FF8600;
    color: #ECEDED;
    transform: scaleX(60deg);
    border: transparent;
}

.terms{
    margin-top: 3rem;
}

label{
    color: #84919A;
}
.terms p{
    color: #84919A;
    font-weight: 400;
    line-height: 2rem;
    font-size: 1.3rem;
}

.changetxt{
    color: #FF8600;
    cursor: pointer;
}

.pointer{
    font-size: 1.3rem;
}

.err{
    color: red;
    position: absolute;
}



.footer{
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
}

a{
    color: #FF8600;
    text-decoration: none;
    transition: all .3s ease-in-out;
}

a:hover{
    font-weight: 700;
}

.firstname{
    position: absolute;
    margin-top: -1.5rem;
    font-size: 1.2rem;
}

.lastname{
    position: absolute;
    margin-top: -1.5rem;
    font-size: 1.2rem;
    right: 2rem;
}

.email{
    position: absolute;
    padding-bottom: 1rem;
    font-size: 1.2rem;
    margin-bottom: 1rem;

}

.password{
    position: absolute;
    padding-bottom: 1rem;
    font-size: 1.2rem;
    margin-top: -1.5rem;

}

Label{
    display: flex;
    flex-direction: column;
}

@media (max-width: 62em) {

    .fielda{
        display: flex;
        flex-direction: column;
        
    }

    .lastname{
        position: absolute;
        left: 2rem;
        margin-top: 3.5rem;
    }

    
       
   
    
}









