.dashboardmain {
  background-color: #f5f5f5;
  max-width: 70rem;
  // padding: 0 3.2rem;
  padding-right: 3.2rem;

  @media (max-width: 68em) {
    padding-right: 0;
    max-width: 100%;
  }
  .stats {
    display: flex;
    column-gap: 1.6rem;
    margin-bottom: 1.6rem;

    @media (max-width: 40.25em) {
      flex-direction: column;
      row-gap: 1rem;
    }

    .stat_one {
      img {
        background-color: #e0faf5;
      }
    }

    .stat_two {
      img {
        background-color: #eff2fe;
      }
    }

    .stat_three {
      img {
        background-color: #fff0e0;
      }
    }
    .stat {
      width: 24.6rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      text-align: left;
      background-color: #fff;
      border-radius: 12px;
      padding: 1.6rem;

      @media (max-width: 40.25em) {
        width: 100%;
      }

      img {
        padding: 1.5rem;
        border-radius: 48px;
      }

      .stat_text {
        display: flex;
        flex-direction: column;
        align-items: baseline;
      }

      h2 {
        font-size: 2.5rem;
        font-weight: 700;
      }

      p {
        font-size: 1.2rem;
      }
    }
  }

  &__overview,
  &__trending,
  &__members {
    background-color: #fff;
    border-radius: 16px;
    padding: 2.4rem;
    margin-bottom: 1.6rem;

    h2 {
      font-weight: 700;
      font-size: 2rem;
      text-align: start;
    }
  }

  &__overview {
    .heading {
      display: flex;
      justify-content: space-between;

      &__categories {
        display: flex;
        column-gap: 0.8rem;
      }

      &__category {
        background-color: #f6f6f6;
        padding: 0.6rem 1.6rem;
        border-radius: 12px;
        display: flex;
        align-items: center;

        p {
          display: flex;
          font-weight: 500;
          font-size: 12px;
        }
      }
    }

    .chart {
      height: 30rem;
      width: 100%;
    }
  }

  &__trending {
    .post_cards {
      display: flex;
      column-gap: 1.6rem;

      @media (max-width: 40.25em) {
        flex-direction: column;
        row-gap: 1rem;
      }

      .post_card {
        border: 1px solid #f1f1f1;
        border-radius: 12px;
        padding: 1.6rem;

        h3 {
          font-weight: 600;
          font-size: 1.8rem;
          line-height: 140%;
          color: #3b3b45;
        }

        p {
          font-weight: 300;
          font-size: 1.4rem;
          line-height: 150%;
          color: #818187;
        }

        .reactions {
          display: flex;
          column-gap: 1.2rem;

          &__love,
          &__comment,
          &__share {
            padding: 0.4rem 1rem;
            background: #f6f6f6;
            display: flex;
            align-items: center;
            column-gap: 0.9rem;
            justify-content: space-around;
            border-radius: 17px;
          }
        }
      }
    }
  }

  &__members {
    .membercards {
      display: flex;
      justify-content: space-between;
      column-gap: 0.8rem;
      @media (max-width: 40.25em) {
        flex-direction: column;
        row-gap: 1rem;
      }

      .membercard {
        border: 1px solid #f1f1f1;
        border-radius: 12px;
        padding: 1.2rem 1.7rem;
        display: flex;
        flex-direction: column;
        align-items: center;

        img {
          width: 3rem;
          height: 3rem;
        }

        h3 {
          font-weight: 600;
          font-size: 1.2rem;
          text-align: center;
          line-height: 18px;
          color: #3b3b45;
        }

        p {
          font-weight: 400;
          font-size: 1rem;
          line-height: 14px;
          color: #818187;
        }

        &__chart {
          display: flex;
          align-items: center;
          column-gap: 0.9rem;
          img {
            width: 1.6rem;
          }

          h4 {
            font-weight: 700;
            font-size: 1.3rem;
            line-height: 20px;
            color: #3b3b45;
          }
        }
      }
    }
  }
}
